@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
    font-family: 'Courier Prime';
    color: white;
}

body {
    background: #151515;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    margin-top: 40px;
    text-align: center;
    max-width: 85%;
    margin-left: 7.5%;
}

.title {
    font-weight: 800;
    font-size: 50px;
    font-family: 'Silkscreen';
}

.links {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 10px;
    font-size: 20px;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

.divider {
    margin-top: 20px;
    border: 1px solid white;
    width: 70%;
    margin-left: 15%;
    height: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: black;
    box-shadow: 0 0 5px #000000;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    height: calc(100% - 250px);
    width: 80vw;
    margin-left: 10vw;
    margin-top: 30px;
    gap: 20px;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    display: none;
}

.columns {
    width: 100%;
    display: flex;
    gap: 5vw;
}

.column {
    width: 100%;
}

.columnhead {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    cursor: default;
}

.linklist {
    display: flex;
}

.linkrow {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.linkinput {
    height: 35px;
    background: black;
    border: none;
    box-shadow: 0 0 5px #000000;
    margin-left: 10px;
    outline: none;
    padding: 0 10px;
    width: calc(100% - 69px);
}

.linkremove {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    height: 35px;
    width: 35px;
    background: black;
    box-shadow: 0 0 5px #000000;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.error {
    display: flex;
    margin-left: 10px;
    margin-top: 7px;
}

.error > i {
    color: red;
}

.error > div {
    color: red;
    margin-left: 5px;
}

.launchRow {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.launch {
    max-width: calc(100% - 20px);
    width: 100px;
    padding: 10px;
    text-align: center;
    background: black;
    box-shadow: 0 0 5px #000000;
    border-radius: 5px;
    cursor: pointer;
}

div[template] {
    display: none;
}